<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
    	
    	<meta name="author" content="{{ site.author.name }}">
    	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">		
    	<link href="{{ ASSET_PATH }}/css/prettify.css" rel="stylesheet">
    	<link href="{{ ASSET_PATH }}/css/extra.css" rel="stylesheet">
    	<script src="{{ ASSET_PATH }}/js/prettify.js"></script>

	</head> 
	<body onload="prettyPrint()">
		<div class="container">
		{{ content }}
		</div>
		{% include JB/analytics %}
	</body>
</html>