<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
    	
    	<meta name="author" content="{{ site.author.name }}">
    	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">		
		<link href="{{ ASSET_PATH }}/css/bootstrap-responsive.css" rel="stylesheet">
    	<link href="{{ ASSET_PATH }}/css/prettify.css" rel="stylesheet">
    	<link href="{{ ASSET_PATH }}/css/extra.css" rel="stylesheet">
    	<script src="{{ ASSET_PATH }}/js/prettify.js"></script>

	</head> 
	<body onload="prettyPrint()">
		<div class="container">
			<header class="row">
				<h2><a href="/">Ryan Tyer</a></h2>
				<h5><small style="font-size:1.5em">Things that have interested me</small></h5>
			</header>			
			{{ content }}			
			<footer class="row">
				Copyright <a href="http://creativecommons.org/licenses/by/3.0/">&copy;</a> {{ site.author.name }} 2009-2012 by <a href="/about">Ryan Tyer</a>.
			</footer>
		</div>
		{% include JB/analytics %}
	</body>
</html>